.bodyasus{
    height: 100%;
    background: linear-gradient(90deg, #fff 50%, #000 50%);
}

@keyframes perftrans {
    from {
        opacity: 0;
        padding-top: 50px;
    }

    to {
        opacity: 0.9;
        padding-top: 0;
    }
}

@keyframes abtrans {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 0.9;
        top: 0;
    }
}

@keyframes imtrans {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rectrans {
    
    from {
        opacity: 0;
        padding-bottom: 40px;
    }

    to {
        opacity: 1;
        padding-bottom: 0;
    }
}


#navitem {
    color: #d4d1d1;
    font-family: 'Nunito', sans-serif;
    line-height: 25px;
    font-size: 18px;
    margin-left: 6px;
    opacity: 0.6;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#navitem:hover{
    opacity: 0.8;
    font-size: 20px;
}

#navitem.active {
    opacity: 0.9;
    font-weight: 550;
}

#navv {
    background: #111;
    line-height: 20px;
    --bs-navbar-padding-y: 12px;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%238E8E8E' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.65' d='M36 18L24 30L12 18'/%3E%3C/svg%3E");
    
}

.topicon{
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M24 40.878L43.5 7.122H32.199L24 22.824L15.801 7.122H4.5z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: white;
    font-size: 3vh;
  }

  .ul {
    color: white;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    font-size: 27px;
    position:relative;
    top: 3px;
}

.lline {
    position:relative;
    display: inline-block;
    width: 1.3em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cpath fill='%238E8E8E' fill-rule='evenodd' d='M10 .5a.5.5 0 0 0-.5.5v18a.5.5 0 0 0 1 0V1a.5.5 0 0 0-.5-.5' clip-rule='evenodd'/%3E%3C/svg%3E");
    
}

.container-fluid .navbar-brand{
    margin-left: 10px;
}



.asuslogo{
    
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 4px;
}

.perf{
    font-size: 50px;
    font-family: 'Alice';
    font-weight: bolder;
    color: #222;
    margin-left: 90px;
    margin-top: 20px;
    animation: perftrans 1s ease;

}

.aboutasus{

    padding: 50px 80px 0px;
    font-size: 30px;
    font-family: 'Nunito';
    color: #222;
    animation: abtrans 1s ease;
    
}

.txtasus{
    float: left;
    max-width: 50%;
}

.asusimage {
    float: right;
    width: calc(50% - 60px);
    position: relative;
    align-items: right;
    justify-content: right;
    display: flex;
    margin-top: 20px;
    margin-right: 60px;
    animation: imtrans 1s ease;
    z-index: -1;
}

.asuslink {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    cursor: pointer;
}

.asustxt {
    color: white;
    font-size: 30px;
    font-family: 'Alice';
    margin-bottom: 90px;

}


.btndoc {
    background-color: #333;
    --bs-btn-border-width: 0;
    --bs-btn-font-family: 'Alice', sans-serif;
    --bs-btn-hover-bg: #444;
    font-size: 20px;
    padding: 8px 16px;
    opacity: 0.9;
    color: #eee;
}



.asus-rec-title {
    width: 100%;
    display: flex;
    font-size: 60px;
    gap: 20px;
    font-family: 'Titillium Web';
}

.white-title {
    width: 50%;
    text-align: right;
    
}

.black-title {
    width: 50%;
    text-align: left;
    color: #eee;
}

.asus-cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 250px;
    padding-top: 40px;
}


.asus-left-card {
    width: 550px;
    height: 550px;
    --bs-card-bg: #111;
}

.asus-left-cardbody {
    color: white;
    opacity: 0.8;
}

.asus-card-title {
    font-size: 30px;
    font-family: 'Nunito';
    padding-bottom: 10px;
    font-weight: bold;
}

.asus-right-card {
    width: 550px;
    height: 550px;
}

.asus-right-cardbody {
    opacity: 0.8;
}

.asus-card-txt{
    font-family: 'Nunito';
}

.asus-feed {
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    justify-content: center;
    align-content: center;
    opacity: 0.8;
    font-family: 'Nunito';
    gap: 250px;
}


.table-container-asus {
    width: 50%;
    color: #000;
    background-color: white;
    
    margin-left: 60px;
  }
  .table-asus {
    border-collapse: collapse;
  }
  .table-asus th, .table-asus td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #fff; 
  }
  .table-asus th {
    background-color: #333;
  }

  .tables-div-asus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    justify-content: center;
    align-content: center;
    opacity: 0.8;
    font-family: 'Nunito';
    gap: 250px;
  }

  .table-container-asus2 {
    width: 50%;
    color: #fff;
    background-color: black;
  }
  .table-asus2 {
    border-collapse: collapse;
    
  }
  .table-asus2 th, .table-asus2 td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #fff; 
  }
  .table-asus2 th {
    background-color: #ddd;
  }