*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    box-sizing: border-box;
 }
 
 html.dellhm1{
  scroll-behavior: smooth;
 }
 body .dbod1{
  background-color:white;
 }

 .h1-dell1-sh{
  background:linear-gradient(#E2E5F0,#C8C2E4);
  color: #2554A1;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px;
 }
 /* -------------navbar------------- */
.snavbar {
    width: 100%;
    height: 40%;
    background-color: royalblue;
  }
  
.sitem a {
    color: white;
    text-decoration: none;
  }
  .snavbar a:hover {
    background-color:#E8F3F9;
    color: black;
  }

  .slogo{
    display:inline-block;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .sitem{
        display:inline-block;
        padding-left: 900px;
        font-size: 20px;
  }
  .snavbar a{
    padding: 5px 10px;
  }
  /* ----------------------background---------- */
  .scont{
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("../photos/Picture1.jpg");
    background-repeat:no-repeat ;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: azure ; */
    padding-top: 400px;
  }
  

  .scont a{
    font-size: 40px;
    color:#fff;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
  }

  .scont a:hover{
    color:whitesmoke;
    background-color: rgb(235, 72, 99);
  }
/* ----------------footer--------- */
footer {
    background-color: royalblue;
    color: #fff;
    font-style: bolder;
    padding: 40px;
    text-align: center;
}
footer #dellcontacts{
   color: yellow ;
}

/* -------------------about--------------- */
#dellabout{
  padding: 80px 0;
  color: #2554A1;
  padding-right: 9px;
  justify-items: center;
}
.srow{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sabout-col-1{
  flex-basis: 45%;
}
.sabout-col-1 video{
  width: 100%;
  border-radius: 15px;
  padding-left: 9px;
}

.sabout-col-2{
  flex-basis: 50%;
}
.subtit{
  font-size: 60px;
  font-weight: 600;
  color: #2554A1;
}
.dell-titles{
  display: flex;
  margin: 20px 0 40px;
}
.dell-link{
  margin-right: 30px ;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.dell-link::after{
  content: '';
  width: 0;
  height: 3px;
  background: rgb(235, 72, 99);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.dell-link.active-link::after{
  width: 50%;

}
.dell-contents {
  font-size: large;
  display: none;
}
.dell-contents.active-tab{
  display: block;
  
}
.dell-contents ul li{
  list-style: disc;
  margin: 10px 0;
}
.dell-contents ul li span{
  color: rgb(235, 72, 99);
  list-style: disc;
  margin: 10px 0;
}
.dell-contents Ol li span{
  color: rgb(235, 72, 99);
  margin: 10px 0;
  font-style: oblique;
  font-size: large;
}
#sustainability iframe{
  border: 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-left: 3rem;
}
#design_and_quality{
  margin-bottom: 3rem;
  margin-left: 2rem;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



html .dellhm2{
   font-size: 62.5%;
   scroll-behavior: smooth;
   overflow-x: hidden;
   font-family: "Josefin Sans", sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

body .dbod2{
   background: #f7dce9;
}
/* ----------------waves ------------ */
 .swave-header{
    min-height: 60vh;
    width: 100%;
    background: hotpink;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: normal;
 }
.swave-header h1{
    font-size: 7em;
    color: White;
    font-family: 'raleway';
    font-weight: 700;
}
 svg{
    position: absolute;
    bottom: 0;
    left: 0;
 }
/* ---------------navbar-------------- */
nav {
    width: 100%;
    height: 30vh;
    padding: 10px 40px 10px 70px;
    background-color: hotpink;
    border: 1px solid hotpink;
    border-left: none;
    border-right:none;
  }
 nav ul{
   display: flex;
   list-style: none;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center; 
 } 
 nav ul li.slogo{
   flex: 1;
   font-size: 30px;
   font-weight: 700;
 }
 nav ul div.sitem{
   display: inline-flex;
   padding: 0 25px;
 }
 nav ul div.sitem a{
   text-decoration: none;
   font-size: 24px;
   padding: 0 12px;
 }
 nav ul div.sitem a:hover{
   color: yellow ;
 }
 nav ul.dsearch{
   height: 40px;
   width: 240px;
   display: flex;
   background: #f2f2f2;
   border-radius: 5px;
 }
 nav ul .dsearch input{
   height: 100%;
   width: 200px;
   border: none;
   outline: none;
   padding: 0 10px;
   color: #000;
   font-size: 20px;
   border-radius: 5px 0 0 5px;
 }

nav ul .dsearch .dicon{
   height: 100%;
   width: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 0 5px 5px 0;
   cursor: pointer;
}

nav ul .dsearch .dicon span{
   color: #222;
   font-size: 18px;
}
 
 
/* -------------products-------------- */

.dcontainer{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.dcontainer .dtitle{
   font-size: 3.5rem;
   color:royalblue;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.dcontainer .dproducts-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:4rem;
}

.dcontainer .dproducts-container .dproduct{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border-radius: 15px;
   outline: .3rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.dcontainer .dproducts-container .dproduct:hover{
   outline: .4rem solid #222;
   outline-offset: 0;
}

.dcontainer .dproducts-container .dproduct img{
   height: 25rem;
}

.dcontainer .dproducts-container .dproduct:hover img{
   transform: scale(.9);
}

.dcontainer .dproducts-container .dproduct h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:royalblue;
}

.dcontainer .dproducts-container .dproduct:hover h3{
   color:hotpink;
}

.dcontainer .dproducts-container .dproduct .price{
   font-size: 2rem;
   color:#444;
}

.dproducts-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgb(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.dproducts-preview .dpreview{
   display: none;
   padding:0.5rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:0.5rem;
   width: 40rem;
}

.dproducts-preview .dpreview.active{
   display: inline-block;
   
}

.dproducts-preview .dpreview img{
   height: 25rem;
}

.dproducts-preview .dpreview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.dproducts-preview .dpreview .fa-times:hover{
   transform: rotate(90deg);
}

.dproducts-preview .dpreview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.dproducts-preview .dpreview .dstars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.dproducts-preview .dpreview .dstars i{
   color:#ff4169;
}

.dproducts-preview .dpreview .dstars span{
   color:royalblue;
}

.dproducts-preview .dpreview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.dproducts-preview .dpreview .dprice{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#ff4169;
}

.dproducts-preview .dpreview .dbuttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.dproducts-preview .dpreview .dbuttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.dproducts-preview .dpreview .dbuttons a.dbuy:hover{
   background: royalblue;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .dproducts-preview .dpreview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}
/* -----------form---------- */

.dwrapper {
	background: #FFF;
	padding: 2rem;
   margin-left: 15rem;
	width: 80%;
	border-radius: .75rem;
	box-shadow: 8px 8px 30px rgba(0,0,0,.05);
	text-align: center;
   margin-bottom: 3rem;
 
}
.dwrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.dwrapper h4 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.drating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: #FFBD13;
	margin-bottom: 2rem;
}
.drating .star {
	cursor: pointer;
}
.drating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.drating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: #F5F5F5;
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.dbtn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.dbtn-group .dbtn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 2.3rem;
	font-weight: 500;
}
.dbtn-group .dbtn.submit {
	background: royalblue;
	color: #FFF;
}
.dbtn-group .dbtn.submit:hover {
	background: #5890ff;
}
.dbtn-group .dbtn.cancel {
	background: #FFF;
	color: royalblue;
}
.dbtn-group .dbtn.cancel:hover {
	background: #e2e2e2;
}