*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(212, 212, 212);
}
.container-div{
    width: 80%;
    height: fit-content;
    margin: 10vh auto;
    text-align: center;
    text-transform: capitalize;
}
.div1{
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
table{
    width: 100%;
}
table tr{
    height: 70px;
}
caption{
    font-size: 5vh;
}
.head-table{
    background-color: #1f2536;
    color: rgba(255, 255, 255, 0.616);
}
td{
    color: rgb(43, 43, 43);
}
td:hover{
    background-color: #24223ad3;
    color: white;
}